<div class="grid place-items-center w-full h-full z-50">
    <div [ngStyle]="{'background-color' : popupBgColor}" class="flex flex-col rounded-lg p-4 gap-2">
        <strong><h1 [innerHTML]="popupTitle"></h1></strong>
        <div class="flex" [innerHTML]="popupContent"></div>
        <div class="flex flex-row justify-end gap-2">
            <button [ngStyle]="{'background-color': bouton.color}" class="shadow-md p-2 rounded-xl" *ngFor="let bouton of popupButtonList" (click)="bouton.action()" [innerHTML]="bouton.name"></button>
        </div>
    </div>
</div>