<div class="flex flex-row justify-around items-center h-full">
    <div class="left">
        <img src="favicon.ico" alt="logo" class="h-50 w-50">
    </div>
    <div class="center">
        <button (click)="goToProjet()">Aller vers l'éditeur</button>
    </div>
    <div class="right">
        <!-- faire un rectangle rouge, un vert, un bleu, un jaune -->
        <div class="flex flex-row gap-4">
            <div class="h-10 w-10 bg-red-500"></div>
            <div class="h-10 w-10 bg-green-500"></div>
            <div class="h-10 w-10 bg-blue-500"></div>
            <div class="h-10 w-10 bg-yellow-500"></div>
    </div>
