<div class="flex flex-row justify-around items-center h-full">
    <div class="left">
        <img src="favicon.ico" alt="logo" class="h-50 w-50">
        <h2>Notre application est un réseau social centré uniquement sur le pixel art (dessin en basse résolution où les pixels sont discernables). Elle comporte 2 fonctionnalités majeures : une partie création via un éditeur et une partie sociale sur un réseau où l’on pourra partager notre travail, suivre nos artistes préférés et consulter les créations de la communauté.</h2>
    </div>
    <div class="center">
        <img src="assets/img/editeur.png" alt="accueil" class="w-5/6">
        <button (click)="goToProjet()">Aller vers l'éditeur</button>
    </div>
    <div class="right">
        <div class="rectangle">
            <div class="couleur">
                <div class="h-10 w-10 r administration-utilisateur"></div>
                <p>Palette de couleur pour la partie admin-utilisateur</p>
            </div>
            <div class="couleur">
                <div class="h-10 w-10 r editeur"></div>
                <p>Palette de couleur pour la partie éditeur</p>
            </div>
            <div class="couleur">
                <div class="h-10 w-10 r accueil"></div>
                <p>Palette de couleur pour l'accueil et la recherche</p>
            </div>
            <div class="couleur">
                <div class="h-10 w-10 r discussion"></div>
                <p>Palette de couleur pour la partie discussion</p>
            </div>
            <div class="couleur">
                <div class="h-10 w-10 r administration-admin"></div>
                <p>Palette de couleur pour la partie admin-admin</p>
            </div>
            <div class="couleur">
                <div class="h-10 w-10 r profil"></div>
                <p>Palette de couleur du profil utilisateur</p>
            </div>
        </div>
    </div>