<div class="flex flex-row justify-around items-center h-full">
    <div class="left">
        <img src="favicon.ico" alt="logo" class="h-50 w-50">
        <h2>Notre application est un réseau social centré uniquement sur le pixel art (dessin en basse résolution où les pixels sont discernables). Elle comporte 2 fonctionnalités majeures : une partie création via un éditeur et une partie sociale sur un réseau où l’on pourra partager notre travail, suivre nos artistes préférés et consulter les créations de la communauté.</h2>
    </div>
    <div class="right">
        <app-carousel-vitrine></app-carousel-vitrine>
        <button (click)="goToProjet()">Aller vers l'éditeur</button>
    </div>
</div>