.slick-prev:before, .slick-next:before {
  color: #000 !important;
}

.img-style{
  margin-left: auto;
  margin-right: auto;
  height: 250px;
  width: 250px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}