<app-popup id="popup" class="backdrop-blur fixed inset-0 flex items-center z-50 hidden" [popupTitle]="popupTitre" [popupContent]="popupDesc" [popupButtonList]="popupListeBoutons"></app-popup>
<div class="grid grid-cols-3 h-full place-items-center">
    <app-outil #outil></app-outil>
    <app-grille #grille class="aspect-square w-full" (grilleClicked)="onGrilleClicked($event)" [hauteur]="hauteur" [largeur]="largeur" [layers]="layerList"></app-grille>
    <app-calque #calque (addLayer)="addLayer()" (selectLayer)="selectLayer($event)" (deleteLayer)="deleteLayer($event)" [layerList]="layerList" [layerCount]="layerCount"></app-calque>
</div> 