<div class="flex flex-col bg-[#D9D9D9] gap-4 p-4 h-full rounded-lg shadow-lg">
    <div class="inline-flex justify-between gap-4">
        <fa-icon [icon]="faCirclePlus" size="xl"></fa-icon>
        <fa-icon [icon]="faArrowUp" size="xl"></fa-icon>
        <fa-icon [icon]="faArrowDown" size="xl"></fa-icon>
        <fa-icon [icon]="faCopy" size="xl"></fa-icon>
    </div>
    <div class="inline-flex flex-col">
        <h2>Calques</h2>
        <div class="inline-flex flex-col mx-4">
            <div class="inline-flex flex-row gap-2">
                <h3 class="flex-1">Nouveau calque</h3>
                    <fa-icon [icon]="faEye"></fa-icon>
                    <fa-icon [icon]="faTrashCan"></fa-icon>
            </div>

            <div class="inline-flex flex-row gap-2">
                <h3 class="flex-1">Calque par défaut</h3>
                <fa-icon [icon]="faEye"></fa-icon>
                <fa-icon [icon]="faTrashCan"></fa-icon>
            </div>
        </div>
    </div>
</div>