<div class="flex flex-col bg-[#D9D9D9] gap-4 p-4 h-full rounded-lg shadow-lg">
    <div class="inline-flex justify-between gap-4">
        <fa-icon (click)="newLayer()" [icon]="faCirclePlus" size="xl"></fa-icon>
        <fa-icon [icon]="faArrowUp" size="xl"></fa-icon>
        <fa-icon [icon]="faArrowDown" size="xl"></fa-icon>
        <fa-icon [icon]="faCopy" size="xl"></fa-icon>
    </div>
    <div class="inline-flex flex-col gap-2">
        <h2>Calques</h2>
        <div class="inline-flex flex-col mx-4 gap-1">
            <app-layer *ngFor="let _ of layerList; let i = index" (delete)="deleteLayer(i)"></app-layer>
        </div>
    </div>
</div>