@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

header{
    background-color: #7CEB60 ;
    height: 70px ;
    display: flex ;
    flex-direction: row ;
    justify-content: flex-start ;
    align-items: center ;
    font-family: 'Roboto', sans-serif;

    h1 {
        font-size: 30px ;
        cursor: pointer ;
    }

    ul{
        list-style: none;
        list-style-type: none;
        height: 100% ;
        display: flex ;
        flex-direction: row ;
        justify-content: center ;
        align-items: center ;
        gap: 60px ;

        li{
            cursor: pointer ;
        }
    }

    #right {
        text-align: right;
    }
}