<header id ={{couleur}}>
  <ul>
    <div>
      <li (click)="goToHome()"><h1>{{title}}</h1></li>
      <li (click)="goToHome()"><fa-icon [icon]="faHouse" size="2xl"></fa-icon></li>
    </div>
    <li><form> 
      <input type="text" name="text" class="search" placeholder="Recherchez non spécifiée...">
      <input type="submit" name="submit" class="submit" value="Search">
    </form>
    </li>
    <div>
      <li (click)="goToProjet()" id="right"><fa-icon [icon]="faPencil" size="2xl"></fa-icon></li>
      <li (click)="goToDiscussion()" id="right"><fa-icon [icon]="faPaperPlane" size="2xl"></fa-icon></li>
      <li (click)="goToNotification()" id="right"><fa-icon [icon]="faBell" size="2xl"></fa-icon></li>
      <li (click)="goToConnexion()" id="right"><fa-icon [icon]="faCircleUser" size="2xl"></fa-icon></li>
    </div>
  </ul>
</header>

<router-outlet></router-outlet>