<header id ={{couleur}}>
  <ul>
    <li (click)="goToHome()"><h1>{{title}}</h1></li>
    <li (click)="goToHome()">Home</li>
    <li><form> 
      <input type="text" name="text" class="search" placeholder="Recherchez non spécifiée...">
      <input type="submit" name="submit" class="submit" value="Search">
    </form>
    </li>
    <li (click)="goToProjet()" id="right">Projet</li>
    <li (click)="goToDiscussion()" id="right">Discussion</li>
    <li (click)="goToNotification()" id="right">Notifications</li>
    <li id="right">Compte</li>
  </ul>
</header>

<router-outlet></router-outlet>