@import url('https://fonts.googleapis.com/css?family=Pixelify+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

canvas {
    height: 80vh;
    border: 1px black solid;
    image-rendering: pixelated;
}

#drawingArea {
    background-color: white;
}

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$primary: #af80ea;
$secondary: #c6b6da;

$theme-colors: map-merge($theme-colors, (
    "primary": $primary,
    "secondary": $secondary
    ));
    
    @import "../../node_modules/bootstrap/scss/bootstrap";

.title {
    font-family: 'Pixelify Sans', sans-serif;
}

$body-bg: #efedee;

body {
    background-color: $body-bg;
}

:root {
    --bs-body-font-family: 'PT Sans', sans-serif;
}
