@import url('https://fonts.googleapis.com/css?family=Pixelify+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

.title {
    font-family: 'Pixelify Sans' !important;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.right {
    margin: 0 2.5vw;
}

.left {
    margin: 0 2.5vw;
}

#tolerance {
    width: 100%;
}

body {
    font-family: 'PT Sans';
    background-color: grey;
}

canvas {
    height: 80vh;
    background-color: white;
    border: 1px black solid;
    image-rendering: pixelated;
}