<div #askToSave class="h-full w-full absolute top-0 left-0 z-50 hidden">
  <div class="h-full w-full bg-zinc-700/75 grid place-items-center backdrop-blur">
      <div class="flex flex-col bg-[#AF80EA] gap-4 p-4 rounded-lg">
          <h1 class="font-black text-lg">Voulez-vous sauvegarder avant de quitter ?</h1>
          <div class="inline-flex flex-row justify-end gap-2">
              <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" (click)="triggerSave(true)">Sauvegarder</button>
              <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" (click)="closeProject()">Quitter</button>
          </div>
      </div>
  </div>
</div>

<div class="flex flex-col cursor-default h-dvh">
  <div *ngIf="isNavbarEditor; then editorNavbar else socialNavbar"></div>
  <ng-template #socialNavbar>
    <header id={{couleur}} class="flex flex-row justify-between py-2 px-4">
      <div class="flex flex-row gap-4 items-center content-center">
        <h1 (click)="goToVitrine()" class="font-title text-4xl">{{title}}</h1>
        <fa-icon (click)="goToVitrine()" [icon]="faHouse" size="2xl" class="icone" aria-label="Accueil"></fa-icon>
      </div>
      <form class="flex items-center content-center bg-[#7EBD6E] rounded-xl p-2 w-1/3 gap-2">
        <input type="text" name="text" class="bg-inherit placeholder:text-black flex-1" placeholder="Recherchez...">
        <button type="submit"><fa-icon [icon]="faMagnifyingGlass" size="xl"></fa-icon></button>
      </form>
      <div class="flex flex-row items-center content-center gap-4">
        <div (click)="goToProjet()" class="black"><fa-icon [icon]="faPencil" size="xl" class="icone" aria-label="Projet" ></fa-icon></div>
        <div (click)="goToDiscussion()" class="white"><fa-icon [icon]="faPaperPlane" size="xl" class="icone" aria-label="Discussion"></fa-icon></div>
        <div (click)="goToNotification()" class="black"><fa-icon [icon]="faBell" size="xl" class="icone" aria-label="Notification" ></fa-icon></div>
        <div *ngIf="!isConnected" (click)="goToConnexion()" class="userIcon"><fa-icon [icon]="faCircleUser" size="xl"></fa-icon></div>
        <div *ngIf="isConnected" (click)="goToProfil()" class="userIcon"><fa-icon [icon]="faCircleUser" size="xl"></fa-icon></div>
        <div *ngIf="isConnected" (click)="logOut()" class="userIcon">Se déconnecter</div>
      </div>
    </header>
  </ng-template>

  <ng-template #editorNavbar>
    <header id={{couleur}} class="flex flex-row justify-between py-2 px-4 gap-8 items-center">
      <h1 (click)="goToHome()" class="font-title text-4xl">{{title}}</h1>
      <div class="inline-flex gap-2">
        <fa-icon [icon]="faDownload" size="2xl" (click)="triggerGrille()"></fa-icon>
        <fa-icon [icon]="faFloppyDisk" size="2xl" (click)="triggerSave()"></fa-icon>
        <fa-icon [icon]="faFileImport" size="2xl"></fa-icon>
      </div>
      <div class="inline-flex gap-2">
        <fa-icon [icon]="faRotateLeft" size="2xl"></fa-icon>
        <fa-icon [icon]="faRotateRight" size="2xl"></fa-icon>
      </div>
      <h1 class="flex-1 text-center">{{ projectNameNav }}</h1>
      <button class="border-solid border-white border-[1px] px-4 py-1 rounded-md bg-[#381663] text-white">Publier</button>
      <fa-icon class="cursor-pointer" [icon]="faXmarkCircle" size="2xl" (click)="showSave()"></fa-icon>
    </header>
  </ng-template>


  <router-outlet></router-outlet>
</div>

<fa-icon *ngIf="!showGitInfo" 
  (mouseover)="showGitInfo = true" 
  [icon]="faGithub" size="2xl" 
  class="fixed left-4 bottom-4 rounded-full m-2 shadow-md shadow-black">
</fa-icon>

<div #gitInfo id="git-info" class="fixed left-4 bottom-4 z-50" (mouseleave)="showGitInfo = false" [ngClass]="{'show': !showGitInfo}">
  <div class="flex flex-col bg-[#a7d8ff] gap-4 p-4 rounded-lg">
    <h1 class="font-title text-4xl text-center">{{title}}</h1>
    <div class="inline-flex flex-row justify-end gap-2">
      <div class="flex flex-col gap-2">
        <div class="flex flex-row gap-1">
          <h1 class="font-bold">Modifié le:</h1><h1>{{gitLastModifDate}}</h1>
        </div>
        <div class="flex flex-row gap-1">
          <h1 class="font-bold">Par:</h1><a href="https://github.com/{{gitRepoInfo.author}}" target="_blank"><h1>{{gitRepoInfo.author}}</h1></a>
        </div>
        <div class="flex flex-row gap-1">
          <h1 class="font-bold">Commit:</h1><a href="https://github.com/ToxykAuBleu/Pixees/commit/{{gitRepoInfo.commit}}" target="_blank"><h1>#{{gitRepoInfo.shortCommit}}</h1></a>
        </div>
      </div>
    </div>

    <a href="https://github.com/ToxykAuBleu/Pixees"><h2 class="text-center">[code source]</h2></a>
  </div>
</div>