<div id="projectHome" class="grid grid-cols-1 grid-rows-1 place-items-center h-full">
    <div class="center">
        <h1 class="text-left font-bold">Choisis ton projet</h1>
        <fa-icon (click)="redirectHome()" [icon]="faXmark" size="xl"></fa-icon>

        <div id="cards" class="grid grid-cols-2 grid-rows-1 gap-4">
            <div (click)="newProject()" class="card min-h-2">
                <p>Nouveau projet</p>
                <fa-icon [icon]="faFileCirclePlus" size="xl"></fa-icon>
            </div>
            <div (click)="importProject(); getListProjects();" class="card min-h-2">
                <p>Charger projet</p>
                <fa-icon [icon]="faFileImport" size="xl"></fa-icon>
            </div>
        </div>
    </div>
</div>

<div id="newProject" class="grid grid-cols-1 grid-rows-1 place-items-center h-full hidden">
    <div class="center">
        <div class="title">
            <fa-icon [icon]="faFileCirclePlus" size="xl"></fa-icon>
            <h1 class="text-left font-bold">Nouveau projet</h1>
        </div>
        
        <fa-icon (click)="projectHome()" [icon]="faXmark" size="xl"></fa-icon>

        <form [formGroup]="createForm" id="formNewProject" (ngSubmit)="onSubmit(true)">
            <div class="category-type">
                <label>Nom du projet</label> 
                <div>
                    <input name="name" formControlName="name" type="text" [ngClass]="{ 'border-red-900 border-2': (name.invalid && (name.dirty || name.touched)) ? true : false}">
                    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger text-red-900">
                        <div *ngIf="name.errors?.['required']">Nom du projet requis.</div>
                        <div *ngIf="name.errors?.['minlength']">Nom trop court.</div>
                        <div *ngIf="name.errors?.['maxlength']">Nom trop long.</div>
                    </div>
                </div>
            </div>

            <div class="category-type">
                <label>Taille</label>
                <div class="flex flex-col">
                    <div class="flex flex-row">
                        <input formControlName="taille" [hidden]="true">
                        <button type="button" class="button" (click)="changeTaille(5, 5)" value="5x5" id="5x5" (click)="changeActiveButton('5x5')">5x5</button>
                        <button type="button" class="button" (click)="changeTaille(10, 10)" value="10x10" id="10x10" (click)="changeActiveButton('10x10')">10x10</button>
                        <button type="button" class="button" (click)="changeTaille(20, 20)" value="20x20" id="20x20" (click)="changeActiveButton('20x20')">20x20</button>
                        <button type="button" class="button" (click)="changeTaille(50, 50)" value="50x50" id="50x50" (click)="changeActiveButton('50x50')">50x50</button>
                        <button type="button" class="button" (click)="changeTaille(128, 128)" value="128x128" id="128x128" (click)="changeActiveButton('128x128')">128x128</button>
                        <button type="button" class="button" value="Personnalisé" (click)="personalisationProject()" id="personnalise" (click)="changeActiveButton('personnalise')">Personnalisée</button>
                    </div>
                    <div *ngIf="taille.invalid && (taille.dirty || taille.touched)" class="alert alert-danger text-red-900">
                        <p>La taille est requise.</p>
                    </div>
                </div>
            </div>
            
            <div class="category-type">
                <label>Couleur de fond</label>
                <div>
                    <input name="bgcolor" formControlName="bgcolor" type="color" class="color-selector">
                    <div *ngIf="bgcolor.invalid && (bgcolor.dirty || bgcolor.touched)" class="alert alert-danger text-red-900">
                        <p>Couleur d'arrière plan incorrect.</p>
                    </div>
                </div>
            </div>

            <input id="createButton" type="submit" value="Créer" class="button">
        </form>
    </div>
</div>

<div id="importProject" class="grid grid-cols-1 grid-rows-1 place-items-center h-full hidden">
    <div class="center">
        <div class="title">
            <fa-icon [icon]="faFileImport" size="xl"></fa-icon>
            <h1 class="text-left font-bold">Importer projet</h1>
        </div>
        <fa-icon (click)="projectHome()" [icon]="faXmark" size="xl"></fa-icon>
        <div class="content">
            <form id="formImportProject" (ngSubmit)="onSubmit(false)">
                <!-- <div class="flex flex-row justify-around items-center">
                    <div class="projet-type">
                        <img src="../../../assets/img/1.jpg" class="projet">
                        <label>A</label>
                    </div>
                    <div class="projet-type">
                        <img src="../../../assets/img/1.jpg" class="projet">
                        <label>B</label>
                    </div>
                    <div class="projet-type">
                        <img src="../../../assets/img/1.jpg" class="projet">
                        <label>C</label>
                    </div>
                </div> -->
                <div *ngFor="let project of projects">
                    <div class="projet-type">
                        <img src="../../../assets/img/1.jpg" class="projet">
                        <label>{{project.name}}</label>
                        <label>{{project.id}}</label>
                        <label>{{project.taille}}</label>
                        <!-- <input type="radio" name="project" [value]="project.id" formControlName="project"> -->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="personalisationProject" class="grid grid-cols-1 grid-rows-1 place-items-center h-full hidden">
    <div class="center">
        <fa-icon (click)="newProject()" [icon]="faXmark" size="xl"></fa-icon>
        <h1 class="text-left font-bold">Personnalisation</h1>
        <div class="Personalisation">
            <label>Entrez la taille de la grille souhaitée</label>
            <div class="Personalisation-box">
                <input #customTailleH type="number">X<input #customTailleL type="number">
            </div>
            <button (click)="changeTaille(customTailleH, customTailleL); newProject();">Valider</button>
        </div>
    </div>
</div>