<div id="projectHome" class="grid grid-cols-1 grid-rows-1 place-items-center h-full">
    <div class="center">
        <h1 class="text-left font-bold">Choisis ton projet</h1>
        <fa-icon [icon]="faXmark" size="xl"></fa-icon>

        <div id="cards" class="grid grid-cols-2 grid-rows-1 gap-4">
            <div (click)="newProject()" class="card min-h-2">
                <p>Nouveau projet</p>
                <fa-icon [icon]="faFileCirclePlus" size="xl"></fa-icon>
            </div>
            <div (click)="importProject()" class="card min-h-2">
                <p>Charger projet</p>
                <fa-icon [icon]="faFileImport" size="xl"></fa-icon>
            </div>
        </div>
    </div>
</div>

<div id="newProject" class="hidden">
    <div class="center">
        <div>
            <fa-icon [icon]="faFileCirclePlus" size="xl"></fa-icon>
            <h1 class="text-left font-bold">Nouveau projet</h1>
        </div>
        
        <fa-icon [icon]="faXmark" size="xl"></fa-icon>

        <form id="formNewProject" method="post">
            <label>Nom du projet</label><input name="name" type="text">
            
            <label>Taille</label>
            <select name="taille">
                <option value="5x5">5x5</option>
                <option value="10x10">10x10</option>
                <option value="20x20">20x20</option>
                <option value="50x50">50x50</option>
                <option value="128x128">128x128</option>
            </select>

            <label>Couleur de fond</label>
            <input name="bgcolor" type="color">

            <input type="submit" value="Créer">
        </form>
    </div>
</div>