:host {
    height: 100%;
}

.center {
    background-color: #AF80EA;
    text-align: left;
    padding: 2vw;
    position: relative;
    display: flex;
    border-radius: 10px;
    border: 2px solid #fff;
    backdrop-filter: blur(2vw);
    flex-direction: column;
    justify-content: flex-start;
    height: 60vh;
    width: 40vw;
    max-width: 80%;
    margin: 0 auto;

    h1 {
        height: 1.5em;
        text-align: left;
    }

    #cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 6vh;
        margin-bottom: 6vh;
    }

    > fa-icon {
        position: absolute;
        top: 10px;
        right: 10px;
    }
}

.card {
    margin: 1vw auto;
    background-color: #fff;
    border-radius: 20px;
    border: 0.3vw solid #000;
    padding: 3vw 1vw; 
    cursor: pointer;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrer verticalement */
    align-items: center; /* Centrer horizontalement */

    position: relative;

    fa-icon {
        position: absolute;
        bottom: 10px;
        left: 10px;
    }
}
