:host {
    height: 100%;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width:auto;

    .img-left {
        width: 150px;
        height: 150px;
    }

    .image-container {
        position: relative;
        height: 100%;
    }

    #img_1 {
        position: absolute;
        top: 20vh;
        left: 0;
        z-index: 1;
    }
    
    #img_2 {
        position: relative;
        left: 8vw;
        top: 35vh;
        z-index: 2;
    }
    
    #img_3 {
        position: absolute;
        left: 0;
        top: 50vh;
        z-index: 3;
    }
}
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #EFEDEE;
    border: 1px solid hsla(0, 0%, 65%, 0.158);
    box-shadow: 0 0 36px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(20px);
    z-index: 99;
    padding: 2rem;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

}

.retour {
    top: 12%;
    left: 1%;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    padding: 1em;
    background: #EBAFAF7A;
}

.title {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.zone-connexion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.input-zone {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    p {
        align-items: flex-start;
    }

    input {
        align-items: flex-end;
    }
}

.link-zone {
    text-align: center;
}

.connexion {
    text-align: left;
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0;
}

.input-label-container {
    display: inline-flex;
    width: 100%;
    float: right;
    justify-content: space-between;
}


.input-box {
    border-radius: 5px;
    border: 1px solid white;
    padding-left: 5px;
    padding-right: 5px;
}

.link {
    text-decoration: underline !important;
    color: blue;
    cursor: pointer;
    font-size: 0.8em;
}

.btn-connexion {
    border-radius: 15px;
    border: 1px solid #B76969;
    background-color: #B76969;
    font-weight: bold;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    cursor: pointer;
    display: block;
    width: 60%;
}

.right {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width:auto;
}

.right .img-right {
    width: 150px;
    height: 150px;
}

.right .image-container {
    position: relative;
    height: 100%;
}

.right #img_4 {
    position: absolute;
    top: 20vh;
    left: 0;
    z-index: 1;
}

.right #img_5 {
    position: relative;
    left: -8vw;
    top: 35vh;
    z-index: 2;
}

.right #img_6 {
    position: absolute;
    left: 0;
    top: 50vh;
    z-index: 3;
}