.pixel {
    width: 8px;
    height: 8px;
    display: inline-block;
    border: 1px solid black;
    margin: 0; /* Ajout de cette règle pour supprimer la marge par défaut */
}

#grilleListe {
    margin: 0;
    padding: 0;
    line-height: 0;
    /* Ajoutez d'autres styles selon vos besoins */
}