<div class="relative h-full">
    <canvas #gridCanvas class="absolute border-black border-solid border-2 w-full h-full"></canvas>
    <canvas #canvases *ngFor="let _ of layers; let i = index" height="{{hauteur}}" width="{{largeur}}" class="absolute border-black border-solid border-2 w-full h-full"></canvas>
    <canvas #clickHandler class="absolute h-full w-full bg-transparent"></canvas>
    <!-- <canvas id="mainCanvas" #mainCanvas class="absolute border-black border-solid border-2 w-full h-full"></canvas> -->
</div>