input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.active {
  background-color: #77b6fe90;
}

.outil:hover {
  background-color: #77b6fe56;
}

.outil .active{
  position: relative;
}

.outil::after .active::after{
  content: attr(aria-label);
  visibility: hidden;
  background-color: #AF80EA;
  font-weight: bold;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.outil:hover::after .active:hover::after {
  visibility: visible;
  opacity: 1;
}