<div class="flex flex-col divide-y-2 gap-2">
    <div class="flex flex-col">
        <h1>Outils</h1>
        <div class="grid grid-cols-3 grid-rows-3 fr place-items-center bg-[#C6B6DA] py-2 px-8 gap-2">
            <fa-icon [icon]="faEraser" size="2xl"></fa-icon>
            <fa-icon [icon]="faPencil" size="2xl"></fa-icon>
            <fa-icon [icon]="faVectorSquare" size="2xl"></fa-icon>
            <fa-icon [icon]="faFillDrip" size="2xl"></fa-icon>
            <fa-icon [icon]="faEyeDropper" size="2xl"></fa-icon>
            <fa-icon [icon]="faWandMagic" size="2xl"></fa-icon>
            <fa-icon class="col-span-3" [icon]="faShapes" size="2xl"></fa-icon>
        </div>
    </div>
    <div>Palette</div>
</div>
